@import 'functions.scss';
@import 'variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';

@import './components/board-modal';
@import './components/board-section';
@import './markdown';

body {
  background-color: #333;
  font-size: 0.95rem;
}

.title {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  a.back {
    flex: 0 0 30px;
    color: #fff;
    font-size: 24px;
    margin: 0;
    line-height: 1.2;
    &:hover {
      text-decoration: none;
    }
  }
  h1 {
    display: inline-block;
    min-width: 10px;
    margin: 0;
    outline: 0;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding-right: 15px;
  }
}

/**
 * smooth-dnd overwrites
 */
.smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
  overflow: visible !important;
}
.smooth-dnd-container {
  flex: 2;
}
.board > .smooth-dnd-container {
  flex: 0 !important;
}
