.board-modal {
  .modal-content {
    border: 0;
  }
  .modal-body {
    padding-top: 30px;
    padding-bottom: 45px;
  }
  h2 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
  }
  h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
  }
  p {
    min-height: 250px;
    background-color: #f3f3f3;
    margin-bottom: 30px;
    padding: 15px 22px;
    border-radius: 3px;
    &:last-child {
      margin-bottom: 0;
    }
    &.markdown {
      line-height: 20px;
    }
    & p {
      padding: 0;
      margin-bottom: 20px;
      min-height: auto;
      line-height: 20px;
    }
  }
  input.points-input {
    border: #ccc solid 1px;
    padding: 2px 3px 2px 7px;
    height: 32px;
    margin-top: 7px;
  }
  hr {
    margin: 30px 0;
    border: 0;
    border-bottom: 1px solid #ddd;
  }
  .remove-button {
    width: 100%;
  }
}